html{
 
background-image: url(data/fondo\ \(1\).png);

}
.introduccion{
margin: 60 180px;
}


.elegir{
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

.TituloN1 {
font-size: 64px;
text-align: center;
}

.textito{
  display: flex;
  flex-direction: row;
  margin-left: 170px;
  column-gap: 477px;
}
h1{
  
  color: #FFF;
  font-family: "Limelight", sans-serif;
  font-weight: 600;
  font-style: normal;
}
p,h2 {
 color: #FFF; 
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
    color: black;
    margin: 100px;
    grid-template-rows: 3;
 
}
.titulo{
  text-align: center;
}
.subtitulo{
  text-align:center;
}

.nucleo1{
  animation: alternate-reverse;

}
.content-izq{
   display: grid;
  grid-template-columns:  100px auto 100px;
  padding: 30px;
  animation-name: MyAnimation;
   animation-duration: 4s;
}

.grafico-fondo{
  background-image: url(data/fondo_barra.png);
            text-align:left;
            flex-direction: row;
            gap: 200px;
            margin-left:10%;
            margin-right:10%;
}

.plataformas{
       display:flex;
            text-align:center;
            flex-direction: row;
            gap:200px;
}

@keyframes info1 {

 
}
@media screen {

  
}
